{% if project.selected %}
<div class="card-item col">
  {% if project.redirect %}
  <a href="{{ project.redirect }}" target="_blank">
    {% else %}
    <a href="{{ project.url | relative_url }}">
      {% else %}
      {% endif %}
      <div class="card hoverable">
        <div class="row g-2">
          {% if project.img %}
          <div class="card-img col-md-4">
            <img src="{{ project.img | relative_url }}" alt="project thumbnail">
          </div>
          <div class="col-md-8">
            {% else %}
            <div class="col-md-12">
              {% endif %}
              <div class="card-body">
                <div class="card-title">{{ project.title }}</div>
                <p class="card-text">{{ project.description }}</p>
              </div>
            </div>
          </div>
        </div>
    </a>
</div>
{% endif %}